{% extends "base.html" %} 

{% load static %}

{% block content %} 

<div class="container-fluid hero-container">
    <div class="row hero overlay hero-image img-fluid">
        <div class="col-12 hero-text">
            <h1>Stephen King Books</h1>
            <p>Share your favourite S.King books</p>
            <p>Find new books</p>
        </div>
    </div>

    <section>
        <h2 class="text-center">Books!</h2>
        <div class="text-center">
            <h3>Welcome to Stephen King Book Club, where you can share your favourite books of the author.</h3>
            <p>This site has been created to share information about horror and fantasy stories.</p>
            <p>Are you looking for ideas of a new book to read? You can view review posts left by other users.</p>
            <p>When logged in you can read the detailed posts, leave comments and like other user's posts.</p>
            <p>The site admin has the right to remove posts and comments that are not in keeping with the sites ethos!</p>
            <a class="btn btn-lg btn-outline-dark" href="{% url 'post_list' %}" role="button">View Posts</a>
        </div>
    </section>           

{% endblock %}