{% extends "base.html" %} 
{% load static %}
{% block content %} 

<section>
    <h1 class="text-center">Are You a fan of horror and fantasy books?</h1>
    <div class="text-center">
        <h3>If so, WELCOME to Stephen King Book Club, where you can share your favourite books writen by 
        The King of horror.</h3>
        <p>This site has been created to share informations about his books.</p>
        <p>Are you looking for ideas of new book to read? You can view posts left by other users.</p>
        <p>When logged in you can read the detailed posts, leave comments and like other user's posts.</p>
        <p>Logged in users can also create, edit and delete their own posts.</p>
        <p>The site admin has the right to remove posts and comments that are not in keeping with the sites ethos!</p>
    </div>
</section>           

{%endblock%}